body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer {
    /* width: 980px;
    height:100%;
    left: 50%;
    margin-left: -490px; */

    opacity: 0;
    position: fixed;
    bottom: 10px;

    width: 100%;
    text-align: center;

    z-index: 10000;
}

.none{
    display: none;
}

.mainCanvas {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#loadingUI{
    position: absolute;
    z-index: 100000;
}

.center{
    position: absolute;
    display: inline-block;
    margin: 200px auto;
    width: 300px;
    height: 300px;
    z-index: 10000;
}

.yg{
    width: 252px; height: 400px;
    /* background: url('../images/yg-sprites.png'); */
    animation: yg-anim 1s steps(5) infinite;
    transform: scale(0.5);
    z-index: 100;
    transform-origin: 0 0;
}

@keyframes yg-anim {
    100%{
        background-position: -1300px;
    }
}


.jdb{
    width: 687px; height: 1009px;
    /* background: url('../images/jdb-sprites.png'); */
    animation: jdb-anim 1s steps(6) infinite;
    transform: scale(0.3);
    z-index: 100;
    transform-origin: 0 0;
}

@keyframes jdb-anim {
    100%{
        background-position: -4172px;
    }
}

#yg01{
    position: absolute;
    top: 5%;
    left:0%;
}

#jdb01{
    position: absolute;
    top: 2%;
    left: 30%;
}

#yg02{
    position: absolute;
    top: 30%;
    left: 40%;
}

#jdb02{
    position: absolute;
    top: 30%;
    left: 50%;
}

#yg03{
    position: absolute;
    top: 60%;
    left:60%;
}

#jdb03{
    position: absolute;
    top: 50%;
    left: 20%;
}




.yg_p{
    width: 252px; height: 400px;
    /* background: url('../images/yg-sprites.png'); */
    animation: yg-anim 1s steps(5) infinite;
    transform: scale(0.8);
    z-index: 100;
    transform-origin: 0 0;
}

@keyframes yg-anim {
    100%{
        background-position: -1300px;
    }
}


.jdb_p{
    width: 687px; height: 1009px;
    background: url('../images/jdb-sprites.png');
    animation: jdb-anim 1s steps(6) infinite;
    transform: scale(0.4);
    z-index: 100;
    transform-origin: 0 0;
}

@keyframes jdb-anim {
    100%{
        background-position: -4172px;
    }
}

#jdb-pick{
    position: absolute;
    top: 0%;
    left: -10%;
}

#yg-pick{
    position: absolute;
    top: 0px;
    left: 50%;
}

.ball{
    width: 400px; height: 711px;
    /* background: url('../images/ball-sprites.png'); */
    animation: ball-anim 2s steps(40) infinite;
    transform: scale(0.4);
    z-index: 90;
    transform-origin: 0 0;
}

@keyframes ball-anim {
    100%{
        background-position: -16390px;
    }
}

#ball-pick{
    transform: scale(0.5);
    position: absolute;
    top: 30%;
    left: 30%;
}

/* .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: yellow;
    z-index: 100000;
} */

.home_container{
    /* opacity: 0; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    /* background-image: url("../images/others/home_bg.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    z-index: 100000;
}

.home_container .start{
    display: table;
    margin: 0 auto;
    margin-top: 600px;
    width: 300px;
    height: 80px;
    z-index: 100010;
    background-image: url("../images/others/pick.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.home_container .help{
    display: table;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 80px;
    z-index: 100010;
    background-image: url("../images/others/activity.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}


.picked_container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    /* background-image: url("../images/others/picking_bg.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-position: top center; */
    z-index: 100000;
}


.picked_container_failed{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    /* background-image: url("../images/others/picking_bg.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-position: top center; */
    z-index: 100000;
}

.picked_container_failed .failed_header{
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    height: 300px;
    z-index: 100;
    background-image: url("../images/others/failed-header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align:middle;
}

.picked_container_failed .failed_header .failed_contents{
    display:table-cell; 
    width: 100%;
    height: 100px;
    vertical-align:middle;
    margin-top: -200px;
    letter-spacing: 0.1em;
    text-align: center;
    transition: 0.5s;
    line-height: 2px;
    vertical-align: bottom;
}

.picked_container_failed .failed_help{
    display: table;
    margin: 0 auto;
    width: 250px;
    height: 89px;
    z-index: 100;
    margin-top: 100px;
    background-image: url("../images/others/pick02.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#cell0{
    display: table-cell;
    opacity: 0;
}

#cell1{
    display: table-cell;
    opacity: 0;
}

/* .picked_container .failed_contents{
    opacity: 0;
    display:table-cell; 
    width: 100%;
    height: 100px;
    vertical-align:middle;
    margin-top: -200px;
    letter-spacing: 0.1em;
    text-align: center;
    transition: 0.5s;
    line-height: 2px;
} */

.picked_container .sucess_header{
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    height: 300px;
    z-index: 100;
    background-image: url("../images/others/success-header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align:middle;
}

#hand{
    position: absolute;
    display: block;
    bottom: 0;
    margin-left: 80%;
    width: 44px;
    height: 45px;
    background-image: url("../images/others/hand.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 91;
}

#hintPick{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    /* margin-bottom: 120px; */
    background-color: rgba(20, 22, 21, 0.25);
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    transition: 0.5s;
    line-height: 2px;
    padding-top: 40px;
    z-index: 80;
}

#hintMain{
    display: block; 
    width: 100%;
    height: 80px;
    margin-top: 50px;
    background-image: url("../images/others/hint_bg.png");
    background-color: rgba(20, 22, 21, 0.25);
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    transition: 0.5s;
    line-height: 2px;
    padding-top: 20px;
    z-index: 100;
}

.picked_container .sucess_header .sucess_contents{
    display:table-cell; 
    width: 100%;
    vertical-align:middle;
    letter-spacing: 0.1em;
    text-align: center;
    transition: 0.5s;
    line-height: 2px;
}

#s_head{
    letter-spacing: 0.15em;
    text-align: center;
    line-height: 4px;
    font-size: 1.15em;
}

#pick_contents{
    padding-top: 10px;
    color: rgb(55, 58, 66);
}

#s_tail{
    padding-top: 15px;
    color: rgb(55, 58, 66);
}

.picked_container .gift{
    display: table;
    margin: 0 auto;
    margin-top: -100px;
    width: 246px;
    height: 194px;
    z-index: 100;
    background-image: url("../images/others/gift.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.picked_container .start{
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
    height: 89px;
    z-index: 100;
    background-image: url("../images/others/pick01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.picked_container .help{
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
    height: 89px;
    z-index: 100;
    background-image: url("../images/others/pick-continue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}